FASTQ_by_lib/*
!FASTQ_by_lib/
!FASTQ_by_lib/.gitkeep
!FASTQ_by_lib/seq_files/
FASTQ_by_lib/seq_files/*
!FASTQ_by_lib/seq_files/.gitkeep

genomes/*
!genomes/
!genomes/.gitkeep

bowtie2_index/*
!bowtie2_index/
!bowtie2_index/.gitkeep

hs_err_pid*.log
