Example_FASTQ_folder/*
!Example_FASTQ_folder/
!Example_FASTQ_folder/FASTQ_by_lib/
!Example_FASTQ_folder/FASTQ_by_lib/.gitkeep

genomes/*
!genomes/
!genomes/.gitkeep

bowtie2_index/*
!bowtie2_index/
!bowtie2_index/.gitkeep

hs_err_pid*.log
